# Add any directories, files, or patterns you don't want to be tracked by version control
/nbproject/private/
#arquivo com dados de acesso ao banco de dados
conn.php
#arquivo com dados e caminhos de biblioteca do framework
conf.php
#Diretórios a serem igonorados
webmailt/
webmail_dev
webmail_dev/inc/uploads/
webmail/inc/uploads/
webmail/inc/attachments/
roundcube/temp2/
roundcube/skins/
XXXrelatorios_email/
comprovantes*/
# Arquivos a serem ignorado<<
*.jar
*.rar
*.travis_yml
*.tm_properties
*.markdown
*.jshintrc
*.md
*.zip
*.txt
*.pdf
*.json
*.pdf
*.log
*.db
*.xls
*.mine
*.psd
*.new
*.gz
*.r*
*.0
*.1
*.afm
*.afp
*.afpa
*.ai
*.as
*.asp
*.avi
*.awh3hw
*.BAK
*.bat
*.bmp
*.caged
*.cdr
*.cfc
*.cfm
*.cfs
*.cgi
*.code
*.coffee
*.com
*.confere_movimentos
*.crt
*.csv
*.cur
*.dat
*.db
*.db-journal
*.dcr
*.del
*.diff
*.directory
*.dist
*.doc
*.docx
*.eot
*.fdf
*.file
*.fla
*.flv
*.ftpquota
*.gdf
*.gen
*.gif
*.gz
*.htaccess
*.htc
*.htm
*.html
*.icc
*.ico
*.inc
*.jpeg
*.jpg
*.JPG
*.lasso
*.less
*.log
*.LOG
*.lsx
*.m
*.map
*.md
*.mno
*.mov
*.mp3
*.new
*.odt
*.-oldhtml
*.otf
*.p12
*.pdf
*.pfx
*.pl
*.png
*.psd
*.py
*.ram
*.rar
*.re
*.RE
*.rm
*.RST
*.rtf
*.sample
*.ser
*.sh
*.sql
*.sti
*.styl
*.svg
*.svn-base
*.swf
*.teste
*.tif
*.tm_properties
*.tpl
*.txt
*.TXT
*.types
*.upload_renovacao
*.wmf
*.xls
*.xlsx
*.xlt
*.xps
*.xsd
*.z
*.zip
.svn/
vendor/
doc/
nbproject/
webmailt/inc/database/
acesso/
LICENSE*
README
*.pdf
*.PDF
*.org
*.dat
*.tar
webmailt/
webmail_dev
webmail_dev/inc/uploads/
webmail/inc/uploads/
webmail/inc/attachments/
roundcube/temp2/
roundcube/skins/
XXXrelatorios_email/
comprovantes*/
#para fins de teste 
XXXrelatorios_email/
ziaH7Idc
foto/
fotos/
fotosclt/

#testecommit
nbproject/private/private.xml