body {
	margin:10px 0;
	padding:0;
	background:#999;
	}
#tudo {
	width:500px;
	font:14px Arial, Helvetica, sans-serif;
	margin:10px auto;
	border: 1px solid #CCC;
	padding:10px 20px 10px 60px;
	background:#999;
	}
div#container_abas {
	margin-top:0px;
	background-color: #aaaaaa;
}
h1 {
	font-size:16px;
	color:#c30;
	}
h2 {
	font-size:14px;
	color:#c30;
	}
.esq {
	display:block;
	float:left;
	margin:0 10px 10px 0;
	}
.dir {
	display:block;
	float:left;
	margin:0 0 10px 10px;
	}
pre code span {
	font:bold 16px "Arial", Tahoma, verdana;
	}
 
/* Fim estilização geral */
/* Estilização para abas */
div.aba {
	background:#fff;
	text-align:justify;
	margin-bottom:60px;
	padding:15px 15px;
	border:1px solid #666;
	}
#nav {
	margin:0;
	padding:3px 0;
	font:bold 14px arial, "arial", tahoma, serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	}
#nav li {
	list-style:none;
	margin-right:6px;
	display:inline;
	}
#nav li a {
	padding:3px 6px;
	border:1px solid #778;
	border-bottom:none;
	background:#dde;
	color:#0A0A0A;
	text-decoration:none;
	}
#nav li a:hover {
	color:#000;
	background-color: #F9F9F9;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	}
#nav li a.corrente {
	background:#fff;
	border-bottom:1px solid #fff;
	}
/* Fim estilização para abas */
