A.link {font-size: 11px; COLOR: #676767; TEXT-DECORATION: line-through; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link:link {font-size: 10px; COLOR: #676767; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link:visited {font-size: 10px; COLOR: #676767; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link:hover {font-size: 10px; COLOR: #0000FF; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}

A.link2          {font-size: 9px; COLOR: #000000; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link2:link     {font-size: 9px; COLOR: #000000; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link2:visited  {font-size: 9px; COLOR: #999999; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link2:hover    {font-size: 9px; COLOR: #648C74; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}

A.link3 {font-size: 11px; COLOR: #FFFFFF; TEXT-DECORATION: line-through; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link3:link {font-size: 10px; COLOR: #FFFFFF; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link3:visited {font-size: 10px; COLOR: #FFFFFF; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
A.link3:hover {font-size: 10px; COLOR: #0000FF; TEXT-DECORATION: none; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}

.igreja {
	font-family: "Verdana", Times, serif;
	font-size: 10px;
	color: #000000;
}
.style2 {
 	color: #FF0000; 
	font-size: 12px;
	font-family: "Verdana", Times, serif;
	font-weight: bold;
}
.style3 {
 	color: #676767; 
	font-size: 10px;
	font-family: "Verdana", Times, serif;
	font-weight: bold;
}
.niver {
	color: #0000CC;
}
.tr {
	VERTICAL-ALIGN: middle; BORDER-TOP: #BEDECB 2px solid; height: 30px;
}
TABLE.panel {
	BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-BOTTOM: #FFFFFF 1px solid; BACKGROUND-COLOR: #66CCFF
}
TABLE.teste {
	BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-BOTTOM: #FFFFFF 1px solid; BACKGROUND-COLOR: #99CCFF
}
TABLE.tarefa {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
TABLE.menu {
	FONT-SIZE: 8px; BACKGROUND-COLOR: #FFFFFF
}
.panelHeader {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: lowercase; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; HEIGHT: 20px; BACKGROUND-COLOR: #e5ecf4; TEXT-ALIGN: center
}
.panelHeaderNote {
	FONT-WEIGHT: normal
}
TD.panel {
	PADDING-RIGHT: 5px; PADDING-LBODY {
	FONT-SIZE: 84%; MARGIN: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #FFFFFF
}
TABLE {
	FONT-SIZE: 12px
}
.rowLabel {
	VERTICAL-ALIGN: top; COLOR: #676767; TEXT-ALIGN: right
}
.row1 {
	BACKGROUND-COLOR: #bfd0ea
}
.row0 {
	BACKGROUND-COLOR: #c9d6eb
}
.row2 {
	BACKGROUND-COLOR: #B9DCFF
}
.row3 {
	BACKGROUND-COLOR: #CCEBFD
}
.tabPanel {
	BORDER-RIGHT: #a1bbe4 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #a1bbe4 1px solid; BORDER-BOTTOM: #a1bbe4 1px solid; BACKGROUND-COLOR: #c9d6eb
}
FORM {
	MARGIN: 0px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.textarea {
	BORDER-RIGHT: #00a3e4 1px solid; BORDER-TOP: #00a3e4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN-LEFT: 1px; BORDER-LEFT: #00a3e4 1px solid; COLOR: black; BORDER-BOTTOM: #00a3e4 1px solid; FONT-FAMILY: arial, verdana, ms sans serif; BACKGROUND-COLOR: #a0dcf5
}
.textarea2 {
	BORDER-RIGHT: #00a3e4 1px solid; BORDER-TOP: #00a3e4 1px solid; 
	BORDER-LEFT: #00a3e4 1px solid;  BORDER-BOTTOM: #00a3e4 1px solid;
	MARGIN-LEFT: 1px; 
	FONT-FAMILY: arial, verdana, ms sans serif; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; 
	font-color: #999999;
	BACKGROUND-COLOR: #D7ECF4
}

.campotexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	font-weight: bold;

}
.linha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #006600;
}
.tabelalogin {
	border: 1px solid #CCCCCC;
}
.teste2{
	border: 1px solid #cccccc;
}
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}
.style6 {color: #FFFFFF}
.style7 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; }
body {
	background-color: #e2e2e2;
}
body2 {
	background-color: #ffffff;
}
.styleobs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003300;
	background-color: #99CC99;
	font-weight: bold;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.style5 {color: #FF0000}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style11 {font-weight: bold}
.style13 {font-weight: bold}
.style15 {font-weight: bold}
.style17 {font-weight: bold}
.style19 {font-weight: bold}
.style23 {font-weight: bold}
}
.style24 {
	font-size: 10px;
	font-weight: bold;
	color: #003300;
}
.style25 {color: #003300}
.style26 {
	color: #FFFFFF;
	font-size: 10px;
}
.style27 {color: #FFFFFF; }
.style28 {
  color: #FFFFDD; 
  font-weight: bold;
  font-size: 14px;
}

/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd  */

.Texto10Azul
{
  COLOR: #000080;
  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none
}

.Texto10Azul:hover
{
  COLOR: #000080;
  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: underline
}

.Texto10
{
  COLOR: #000000;
  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none
}

.TextoDados
{
  COLOR: #000000;
  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
  FONT-SIZE: 8pt;
  TEXT-DECORATION: none
}

TABLE.border
{
  BACKGROUND: #000099;
  COLOR: black
}
TABLE.border2
{
  border-top: 1pt #ababab solid; border-left: 1pt #ababab solid
}

TD.border2
{
  border-top: 1pt white solid; border-right: 1pt #ababab solid; border-bottom: 1pt #ababab solid; border-left: 1pt white solid;
 }

TD.borderall
{
  border-top: 1pt #000000 solid; border-right: 1pt #000000 solid; border-bottom: 1pt #000000 solid; border-left: 1pt #000000 solid;
 }
 
TD.border3
{
  border-top: 1pt white solid; border-bottom: 1pt #ababab solid; border-left: 1pt white solid
}
.calibri
{
  FONT-FAMILY: Calibri, Arial, Times New Roman;
  FONT-SIZE: 8pt;
  TEXT-DECORATION: none;
  font-weight: bold
}
.linha_pg1
{
 BORDER-BOTTOM: 1pt #C9C9C9 solid
}
