body {
	background-color: #E1E1E1;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.clear {
	clear:both;
}
#topo {
	position: fixed;
	z-index: 100;
	height: 130px;
	top:0px;
	left:0px;
	text-align:center;	
}
#dentro_topo{
	padding:0px 5px;
	font-size:12px;
	text-align:left;
	width:100%;
	height:130px;
	background-color:#FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	margin:0px auto;
}

#base {
	padding:0px 5px;
	text-align:left;
	background-color:#FFF;
	overflow:hidden;
	position: relative;
	margin-top: 130px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
#menu {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#menu li {	
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:url(http://www.netsorrindo.com/intranet/imagens/fundo_botao.jpg);
  background-origin:initial;
  background-position:initial initial;
  background-repeat:no-repeat no-repeat;
  color:#555555;
  display:block;
  float:left;
  font-weight:bold;
  height:28px;
  margin-bottom:12px;
  margin-left:0;
  margin-right:12px;
  margin-top:0;
  padding-top:7px;
  text-align:center;
  text-decoration:none;
  width:150px;
  list-style-type:none;
}
#menu li:hover{
	background:url(../../imagens/fundo_botao_hover.jpg) no-repeat;
	color:#222;
}
#menu li a {
	display: block;
}
a:link  , a:visited{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.blocos {
	margin-right: 10px;
	margin-left: 10px;
}
.bancos {
	margin: 10px 0px 0px 0px;
	display:block;
	background-color:#EFEFEF;
	padding: 15px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	font-size: 13px;
}
.bancos .total{
	color:#F00;
}

.lista{
	border:solid #C5C5C5 1px;
}

.titulos {
	background-color:#C9C9C9;
	font-size: 13px;
	font-weight:bold;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.divisor {
	text-align:center;
	border-bottom:solid #999 1px;
}
.linha_um {
 background-color:#f5f5f5;
}
.linha_dois {
 background-color:#ebebeb;
}

.linha_selectd {
 background-color:#FFE7CE;
}
.linha_um td, .linha_dois td {
 border-bottom:1px solid #ccc;
}
.linha_um:hover , .linha_dois:hover{
	background-color:#575757;
	color:#FFF;
}

.lista{
	display:none;
}
.loading{
	background-color:#FFF;
	width:100px;
	text-align:center;
	position:absolute;

	left:50%;
}
.Totalizador, .reembolso{
	width:50%;
	float:left;
	overflow:hidden;
}
.legendas {
	display: none;
	font-size:12px;
	color:#333;
	background-color:#FFD2D2;
	padding: 5px;
	border: 1px solid #CCC;
	text-align:center;
}
