.ui-datepicker
{ background-clip:padding-box;
  background-color:#fff;
  border:4px solid;
  border-color:#ccc;
  border-color:rgba(0,0,0,.2);
  border-radius:3px;
  display:none;
  left:0;
  position:absolute;
  text-align:left;
  top:0;
  width:auto!important;
  z-index:5000;
  white-space:normal; }

.ui-datepicker table
{ width:210px; }

.ui-datepicker td,.ui-datepicker th
{ height:30px;
  line-height:30px;
  text-align:center;
  width:30px; }

.ui-datepicker td
{ border-bottom:1px solid #eee;
  border-right:1px solid #eee; }

.ui-datepicker td a
{ color:#555;
  display:block;
  height:100%;
  text-decoration:none;
  width:100%; }

.ui-datepicker td a:hover
{ background:#f3f3f3; }

.ui-datepicker td.ui-datepicker-today a
{ background:#f3f3f3;
  font-weight:700; }

.ui-datepicker tr td:last-child
{ border-right:none; }

.ui-datepicker th
{ color:#fff;
  font-weight:600; }

.ui-datepicker .ui-state-active
{ color:#fff!important;
  text-decoration:none; }

.ui-datepicker-next,.ui-datepicker-prev
{ color:#fff;
  cursor:pointer;
  display:block;
  height:35px;
  line-height:35px;
  position:absolute;
  text-align:center;
  text-decoration:none!important;
  width:35px; }

.ui-datepicker-next span,.ui-datepicker-prev span
{ display:none; }

.ui-datepicker-next:hover,.ui-datepicker-prev:hover
{ background:rgba(255,255,255,.2); }

.ui-datepicker-next:after,.ui-datepicker-prev:after
{ color:#fff;
  font-family:FontAwesome; }

.ui-datepicker-prev
{ border-right:1px solid rgba(0,0,0,.2);
  left:0; }

.ui-datepicker-prev:after
{ content:"\f053"; }

.ui-datepicker-next
{ border-left:1px solid rgba(0,0,0,.2);
  right:0; }

.ui-datepicker-next:after
{ content:"\f054"; }

.ui-datepicker-title
{ border-bottom:1px solid rgba(0,0,0,.2);
  color:#fff;
  display:block;
  height:36px;
  line-height:36px;
  text-align:center;
  width:210px; }

.ui-datepicker-title select
{ background:#1d89cf;
  border:none;
  color:#fff;
  padding: 5px 0;
}

.ui-datepicker-title select:first-child
{ margin-right:5px; }

.ui-datepicker-buttonpane
{ background:#eee;
  padding:5px 7px;
  text-align:right; }

.ui-datepicker-buttonpane button
{ padding:4px 9px;
  display:inline-block;
  font-size:12px;
  line-height:15px;
  font-weight:400;
  text-decoration:none;
  outline:0!important;
  border:1px solid #cfcece;
  border-radius:2px;
  color:#555; }

.ui-datepicker-buttonpane button,.ui-datepicker-buttonpane button:focus
{ border-color:#ddd;
  border-bottom-color:#cecece;
  background:#f4f4f4;
  background-image:-webkit-linear-gradient(top,#f4f4f4 0,#eaeaea 100%);
  background-image:linear-gradient(to bottom,#f4f4f4 0,#eaeaea 100%);
  background-repeat:repeat-x; }

.ui-datepicker-buttonpane button:hover
{ color:#555;
  border-color:#d5d5d5;
  border-bottom-color:#bcbcbc;
  background:#eaeaea!important;
  background-image:-webkit-linear-gradient(top,#efefef 0,#e5e5e5 100%)!important;
  background-image:linear-gradient(to bottom,#efefef 0,#e5e5e5 100%)!important;
  background-repeat:repeat-x; }

.open .ui-datepicker-buttonpane button.dropdown-toggle,.ui-datepicker-buttonpane button.active,.ui-datepicker-buttonpane button:active
{ background:0 0;
  background:#ebebeb!important;
  border-color:#c6c6c6;
  border-bottom-color:#c6c6c6!important;
  color:#555;
  -webkit-box-shadow:0 0 12px rgba(0,0,0,.1)inset;
  box-shadow:0 0 12px rgba(0,0,0,.1)inset; }

.ui-datepicker-buttonpane button.btn-flat
{ background:#ececec; }

.open .ui-datepicker-buttonpane button.btn-flat.dropdown-toggle,.ui-datepicker-buttonpane button.btn-flat.active,.ui-datepicker-buttonpane button.btn-flat:active,.ui-datepicker-buttonpane button.btn-flat:hover
{ background:#ececec!important;
  color:#555; }

.ui-datepicker-buttonpane button.btn-outline.btn-flat:hover,.ui-datepicker-buttonpane button.btn-outline:hover
{ color:#555;
  border-color:#d5d5d5;
  border-bottom-color:#bcbcbc; }

.ui-datepicker-buttonpane button.btn-outline.btn-flat:active,.ui-datepicker-buttonpane button.btn-outline:active
{ border-color:#c6c6c6; }

.btn-group .ui-datepicker-buttonpane button,.btn-group .ui-datepicker-buttonpane button:focus,.input-group-btn .ui-datepicker-buttonpane button,.input-group-btn .ui-datepicker-buttonpane button:focus
{ border-left-color:#d5d5d5;
  border-right-color:#d5d5d5; }

.btn-group .ui-datepicker-buttonpane button:hover,.btn-group.open .ui-datepicker-buttonpane button.dropdown-toggle,.input-group-btn .ui-datepicker-buttonpane button:hover,.input-group-btn.open .ui-datepicker-buttonpane button.dropdown-toggle
{ border-color:#d5d5d5;
  border-bottom-color:#bcbcbc; }

.btn-group .ui-datepicker-buttonpane button.active,.btn-group .ui-datepicker-buttonpane button:active,.input-group-btn .ui-datepicker-buttonpane button.active,.input-group-btn .ui-datepicker-buttonpane button:active
{ border-left-color:#c6c6c6;
  border-right-color:#c6c6c6; }

.ui-datepicker-buttonpane button+button
{ margin-left:5px; }

.ui-datepicker-group
{ float:left;
  width:210px; }

.ui-datepicker-group+.ui-datepicker-group .ui-datepicker-title,.ui-datepicker-group+.ui-datepicker-group table
{ border-left:1px solid rgba(0,0,0,.2); }

.ui-datepicker-row-break:after,.ui-datepicker-row-break:before
{ content:" ";
  display:table; }

.ui-datepicker-row-break:after
{ clear:both; }

.ui-datepicker .ui-state-active
{ background:#1d89cf!important; }

 .ui-datepicker-title
{ background:#1d89cf; }

 .ui-datepicker th
{ background:#2f76a4; }

 .ui-datepicker-buttonpane button.ui-priority-primary
{ color:#fff; }

 .ui-datepicker-buttonpane button.ui-priority-primary, .ui-datepicker-buttonpane button.ui-priority-primary:focus
{ border-color:#1a7ab9;
  border-bottom-color:#16689e;
  background:#1d89cf;
  background-image:-webkit-linear-gradient(top,#1e8cd3 0,#1a7ab9 100%);
  background-image:linear-gradient(to bottom,#1e8cd3 0,#1a7ab9 100%);
  background-repeat:repeat-x; }

 .ui-datepicker-buttonpane button.ui-priority-primary:hover
{ color:#fff;
  border-color:#1871ab;
  border-bottom-color:#12547e;
  background:#1a7ab9!important;
  background-image:-webkit-linear-gradient(top,#1c83c6 0,#1871ab 100%)!important;
  background-image:linear-gradient(to bottom,#1c83c6 0,#1871ab 100%)!important;
  background-repeat:repeat-x; }

.open  .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle, .ui-datepicker-buttonpane button.ui-priority-primary.active, .ui-datepicker-buttonpane button.ui-priority-primary:active
{ background:0 0;
  background:#1a7dbd!important;
  border-color:#146090;
  border-bottom-color:#146090!important;
  color:#fff;
  -webkit-box-shadow:0 0 12px rgba(0,0,0,.1)inset;
  box-shadow:0 0 12px rgba(0,0,0,.1)inset; }

 .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat
{ background:#1b80c2; }

.open  .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.dropdown-toggle, .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.active, .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:active, .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:hover
{ background:#1b80c2!important;
  color:#fff; }

 .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:hover, .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:hover
{ color:#fff;
  border-color:#1871ab;
  border-bottom-color:#12547e; }

 .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:active, .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:active
{ border-color:#146090; }

.btn-group  .ui-datepicker-buttonpane button.ui-priority-primary,.btn-group  .ui-datepicker-buttonpane button.ui-priority-primary:focus,.input-group-btn  .ui-datepicker-buttonpane button.ui-priority-primary,.input-group-btn  .ui-datepicker-buttonpane button.ui-priority-primary:focus
{ border-left-color:#1871ab;
  border-right-color:#1871ab; }

.btn-group  .ui-datepicker-buttonpane button.ui-priority-primary:hover,.btn-group.open  .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle,.input-group-btn  .ui-datepicker-buttonpane button.ui-priority-primary:hover,.input-group-btn.open  .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle
{ border-color:#1871ab;
  border-bottom-color:#12547e; }

.btn-group  .ui-datepicker-buttonpane button.ui-priority-primary.active,.btn-group  .ui-datepicker-buttonpane button.ui-priority-primary:active,.input-group-btn  .ui-datepicker-buttonpane button.ui-priority-primary.active,.input-group-btn  .ui-datepicker-buttonpane button.ui-priority-primary:active
{ border-left-color:#146090;
  border-right-color:#146090; }

