@charset "utf-8";
#base {
	border: 1px solid #CCC;
	width: 600px;
	margin: 20px auto;
	background-color: #FFF;
	text-align:center;
}
#base div{
	margin-bottom: 3px;
}

.Cadastro{
	background-repeat: no-repeat;
	background-position: right bottom;
	width:550px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align:left;
}

.submit-go {
	overflow:hidden;
	cursor:pointer !important;
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;

}
.submit-go:hover {
	border-color:#c5c5c5;
	background:#f6f6f6;
}

input {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 
fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
}
input.date  {
	background-image:url(../image/calendar-small.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}
label {
	float:left;
	width:13em;
	text-align:right;
	margin-right:1em;
	font-weight: normal;
	font-size: 14px;
	
}
#loading {
	top: 30%;
	position: absolute;
	left: 40%;
	display: none;
	z-index:1000;
}
#cadastro_nomes{
	width: 300px;
}
#barra_upload{
	margin: 0px auto;
	width:250px;
}
